<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hong.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.hong.entity.User">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="BIGINT" />
        <result column="count" property="count" jdbcType="BIGINT" />
    </resultMap>

    <sql id="Base_Column_List">
        id,name,password,count
    </sql>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT <include refid="Base_Column_List" />
        FROM user
        WHERE id = #{id,jdbcType=BIGINT}
    </select>

    <update id="updateCount" >
        update user t
        set t.count = #{count},
        t.update_time = #{updatetime}
        where t.id = #{id}
</update>
</mapper>